doctype html
html(lang="en")
  head
    title Hapi Setup
  body
    h1 This is your hapi-setup!
    p Use this page to get a quick view of all the important configuration settings used in the currently running hapi server.
    div.configuration
      include ./runtime
    div.configuration
      include ./connections
  
    include ../../build/script
